# Hardening against Mini Shai-Hulud & npm supply chain worms
# 1. Block execute scripts on install by default to prevent worm propagation and token theft
ignore-scripts=true

# 2. Block arbitrary command running via audits
audit=false

# 3. Prevent engine executing arbitrary binaries
engine-strict=true
